nav > ul{
    display: flex;
    gap: 15px;
    position: relative;
}
nav li{
    list-style: none;
    padding: 10px;
}

nav li a{
    text-decoration: none;
    color: #000;
}

nav li:hover{
    background-color: tomato;
    color: #fff;
}

/* Nested menu styles */

nav li .dropDown{
    display: none;
    background-color: tomato;
    position: absolute;
    border-radius: 20px;
    color: wheat;
    padding-left: 10px;
    top: 35px;
    width: 50%;

}

nav li:hover .dropDown{
    display: block;
}